/*----HEADER----*/

header {
  background: url(../img/griffes-head.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 180px;
}
/*--socials--*/
.socialmedia {
  width: auto;
  margin-left: 5px;
}
.socialmedia .icon {
  padding: 1px;
  width: 24px;
}

/*--logo--*/
.logo-container-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 95px;
  margin-bottom: 5px;
  margin-top: 10px;
  filter: drop-shadow(0 0 0.5rem #640a34);
}

/*--navbar--*/
.navcontainer {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}
.navcontainer li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.navcontainer li a {
  display: block;
  padding: 25px;
  color: black;
  font-family: Georgia, serif;
  font-weight: 600;
  word-spacing: 4px;
  position: relative;
  transform: skew(-11.5deg);
}

/* Sous-menu */
.navcontainer .menu > li > .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 105px;
  border: 1px solid black;
  transform: skew(-11.5deg);
}
.sub-menu li {
  display: block;
}
.sub-menu li a {
  color: black;
  padding: 15px;
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: center;
  transform: skew(0deg);
}
.sub-menu li a:hover {
  background-color: var(--main-color);
  color: #fff;
}
.second-sub-menu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 70px;
  background-color: white;
  border: 1px solid black;
  z-index: 12;
}
.second-sub-menu li a {
  color: black;
  text-align: center;
  position: relative;
  transform: skew(0deg);
}
.navcontainer li:hover > .sub-menu {
  display: block;
}
.sub-menu li:hover > .second-sub-menu {
  display: block;
}
.navcontainer .main-point:hover {
  color: var(--main-color);
  transition-delay: 0.1s;
}
.navcontainer .main-point {
  position: relative;
  padding: 25px;
  color: black;
  font-family: Georgia, serif;
  font-weight: 600;
  word-spacing: 4px;
  display: block;
  transform: skew(-11.5deg);
  transition: color 0.3s ease;
}

/* Barre de survol */
.navcontainer .main-point::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}
.navcontainer .main-point:hover {
  color: var(--main-color);
}
.navcontainer .main-point:hover::after {
  width: 65%; /* Largeur de la barre quand elle est complètement étendue */
  left: 50%;
}

/*----Footer----*/
footer {
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    var(--yellow-color) 0%,
    var(--yellow-color) 7px,
    var(--blue-color) 7px,
    var(--blue-color) 12px,
    var(--main-color) 6px
  );
  margin-top: 10vh;
}

/*--logo footer--*/
.logocontainer-footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}
#logo-footer {
  width: 95px;
  filter: drop-shadow(0 0 0.5rem var(--main-color));
}

/*--Contenu footer--*/
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-section {
  flex: 1 0 300px;
  margin: 20px;
  width: 30%;
  max-width: 300px;
  margin: 20px;
  margin-top: 40px;
}
.footer-section-small {
  flex: 1 0 100px;
  margin: 20px;
  width: 30%;
  max-width: 300px;
  margin: 20px;
  margin-top: 40px;
}
.footer-section p {
  margin-bottom: 10px;
  line-height: 1.5;
  color: #d5cbcb;
  font-size: 14px;
}
.footer-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
  margin: 0 auto;
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-section li {
  margin-bottom: 10px;
}
.footer-section ul li a {
  text-decoration: none;
  color: #d5cbcb;
  text-align: center;
}
.footer-section ul li a:hover {
  text-decoration: none;
  color: white;
  text-align: center;
}
.icon-footer {
  width: 15px;
  height: 15px;
}

/*--Equipes et Club Footer--*/
.footer-section-small h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
  margin: 0 auto;
}
.footer-section-small ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-section-small li {
  margin-bottom: 10px;
}
.footer-section-small ul li a {
  text-decoration: none;
  color: #d5cbcb;
  text-align: center;
}
.footer-section-small ul li a:hover {
  text-decoration: none;
  color: white;
  text-align: center;
}
.hr-footer-1 {
  width: 40%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.hr-footer-2 {
  width: 35%;
  margin-top: 5px;
  margin-bottom: 10px;
}
.hr-footer-3 {
  width: 20%;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*--bottom footer--*/
.social-icon-container {
  display: flex;
  justify-content: center;
}
.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s ease;
}
.social-icon:hover {
  background-color: #d5d5d5;
}
.icon-taille {
  width: 22px;
  height: 22px;
}
.bottom-footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin: auto;
}
.copyright {
  text-align: center;
}

/*--Titles--*/
.titre {
  font-family: "Roboto" "Poppins" "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 4rem;
  margin-bottom: 1rem;
  padding: 20px;
  font-weight: 900;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.titre span {
  background-image: linear-gradient(to bottom, var(--main-color), var(--main-color));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.soustitre {
  font-size: 2rem;
  font-family: "Roboto" "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  padding: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.soustitre span {
  background-image: linear-gradient(to bottom, #640a34, #640a34);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* templates for a repeated background */
.repeated-background {
  width: 100%;
  height: 2000px;
  background-image: url("img/ResNonVerbaInclinedOpacity.svg"), url("img/ResNonVerbaInclinedOpacity.svg");
  background-repeat: repeat;
  background-size: 170px 170px; /* Taille de l'image + espace entre elles */
  background-position: 0 0, /* Première ligne commence normalement */ 85px 85px; /* Deuxième ligne est décalée à mi-gap */
  filter: grayscale(100%);
}
