/* Body page */
body {
  background: linear-gradient(to bottom, white, #f5f5f5);
  overflow-x: hidden;
}

/* Header elements */
header {
  height: 30%;
  background-color: white;
}
nav {
  padding: 0;
}

/* Main elements */
main {
  padding: 0;
}
figure .banniere-container {
  padding: auto;
}

section .wraps {
  padding: 0;
}
section .matchs {
  padding: auto;
}
/* Footer */
footer {
  position: relative;
  width: 100%;
  padding: 40px 0;
}
