/* Body page */
body {
  background-color: white;
  overflow-x: hidden;
}

/* Header elements */
header {
  height: 30%;
}
nav {
  padding: 0;
}

/* Main elements */
main {
  padding: 0;
}
figure .banniere-container {
  padding: auto;
}

section .sponsors {
  padding: auto;
}
section .match-container {
  padding: auto;
}
section.actu-container {
  padding: auto;
}
section .coach-container {
  padding: auto;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  padding: 40px 0;
}
